@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Esports Room Management</h1>
    <p>This application is used to check students in and out of the esports room</p>
</div>
